.unclickable {
    pointer-events: none !important;
}

.scroller {
    overflow-y: auto;
    max-height: 29vh;
}

#landing-container {
    background: url(../images/background-image.jpg) no-repeat center center;
    background-size: cover;
    height: 94vh;
}

.flashes {
    color: white;
    background-color: grey;
}

.list-left {
    text-align: left;
}

#currency {
    width: 50%;
}

/* Responsiveness */