#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    height: 3rem;
    color: white;
    margin-top: 1rem;
}

.unclickable {
    pointer-events: none !important;
}

.scroller {
    overflow-y: auto;
    max-height: 30vh;
}

/* Responsiveness */