.unclickable {
    pointer-events: none !important;
}

.scroller {
    overflow-y: auto;
    max-height: 28vh;
}

#landing-container {
    background: url(../images/testimage.PNG) no-repeat center center;
    background-size: cover;
    height: 91vh;
}

.flashes {
    color: white;
    background-color: red;
}

.list-left {
    text-align: left !important;
}

/* Responsiveness */