{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Edit an Outgoing</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 mx-auto">
            <form method="POST" action="{{ url_for('edit_outgoing', item_id=item._id) }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name of Outgoing</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" minlength="2"
                        maxlength="9" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value of Outgoing</label>
                    <input type="number" class="form-control" id="value" name="value" value="{{ item.value }}"
                        minlength="1" maxlength="15" required>
                </div>
                <div class="form-text mb-3">Please use whole numbers.</div>
                <button type="submit" class="btn btn-primary mb-2">Edit Outgoing</button>
                <a href="{{ url_for('dashboard') }}" class="btn btn-warning mb-2">Return to Dashboard</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}