{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Edit an Income</h1><Br>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('edit_income', item_id=item._id) }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name of Income</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ item.name }}" minlength="2"
                        maxlength="15" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value of Income</label>
                    <input type="text" class="form-control" id="value" name="value" value="{{ item.value }}"
                        minlength="1" maxlength="15" required>
                </div>
                <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Cancel Edit</a>
                <button type="submit" class="btn btn-primary">Edit Income</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}