{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Add a new Income</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 mx-auto">
            <form method="POST" action="{{ url_for('add_income') }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name of Income</label>
                    <input type="text" class="form-control" id="name" name="name" minlength="1" maxlength="9" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value of Income</label>
                    <input type="number" class="form-control" id="value" name="value" min="1" max="9999999" required>
                </div>
                <div class="form-text mb-3">Please use whole numbers.</div>
                <button type="submit" class="btn btn-primary">Add Income</button>
                <a href="{{ url_for('dashboard') }}" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>{% endblock %}