{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Add a new Outgoing</h1><Br>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('add_outgoing') }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name of Outgoing</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value of Outgoing</label>
                    <input type="text" class="form-control" id="value" name="value" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Outgoing!</button>
            </form>
        </div>
    </div>
</div>{% endblock %}