{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Add a new Outgoing</h1><Br>
<div class="container ">
    <div class="row">
        <div class="col-6 mx-auto">
            <form method="POST" action="{{ url_for('add_outgoing') }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name of Outgoing</label>
                    <input type="text" class="form-control" id="name" name="name" minlength="2" maxlength="15" required>
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value of Outgoing</label>
                    <input type="text" class="form-control" id="value" name="value" minlength="1" maxlength="15"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Add Outgoing</button>
                <a href="{{ url_for('dashboard') }}" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>{% endblock %}