{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Register</h1><Br>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        aria-describedby="password_help" required>
                    <div id="password_help" class="form-text">Please do not forget your password. They currently
                        <strong>cannot</strong> be recovered.</div>
                </div>
                <button type="submit" class="btn btn-primary">Register!</button>
                <button class="btn btn-warning"><a href="{{ url_for('login') }}">Already Registered?</a></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}