{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Register</h1><Br>
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        required>
                    <div id="emailHelp" class="form-text">Your email address will not be shared with anyone.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" required>Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Register!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}